@{
    ViewBag.Title = "Scholarship";
}

@if (ViewBag.Found == false)
{
    <p>@ViewBag.Message</p>
}
else
{

    Html.RenderAction("Summary", "Register", new { Id = ViewBag.RegID });
    
<div id="main-wrapper">
	<div class="12u" id="main-content">
		<div class="5grid-layout">

            <h2>Scholarship Application</h2>

            <p>
                Your total price for summer conference is @String.Format("{0:C}", ViewBag.TotalPrice).
            </p>
            <p>
                How much scholarship are you requesting?

            </p>
    
            <input type="button" title="Back" value="Back" onclick="location.href='@Url.Action("Index", "Register")'" />
                       
        </div>
    </div>
</div>    

}