@{
    ViewBag.Title = "About";
}

<div id="main-wrapper">
	<div class="divider1"></div>
	<div class="12u" id="main-content">
		<div class="5grid-layout">
			<div class="row">
				<div class="8u">
					<h2>About 2013 Summer Conference</h2>
					<p></p>
				</div>
            </div>
        </div>
    </div>
</div>
