@{
    ViewBag.Title = "About";
}

<div id="main-wrapper">
	<div class="divider1"></div>
	<div class="12u" id="main-content">
		<div class="5grid-layout">
			<div class="row">
				<div class="8u">
                @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                {
                    <h2>TCCCC 2013 Summer Conference</h2>
                    <h3>What is it?</h3>
                    <p>
                        Twins Cities Chinese Christian Church Summer Conference an annual event where the entire church body can come together for a time of fellowship and worship.
                        It is a great opportunity for the three interdependent congregations to come and meet, to share meals, and to learn and grow together as one church. 
                    </p>
                    <h3>Who will be there?</h3>
                    <p>
                        Everyone from all three congregations along with TCCC West are invited. The Speaker this year is Rev. Paul Lee Tan.
                    </p>
                    <p>
                        Rev. Paul Lee Tan is a pastor, author, and Christian educator. For over 40 years, Dr. Tan has been recognized as an authority on Biblical prophecy, preaching to some 500,000 people in the United States and Canada, South America, Asia, and Europe on Bible prophecy.
                        Rev. Tan was Director of Asian Studies and Adjunct Professor at Dallas Theological Seminary, Texas, and has served long pastorates in the United States and the Philippines.
                    </p>
                    <h3>When is it?</h3>
                    <p>
                        June 8 (Friday) 7:30 pm – June 10 (Sunday) afternoon
                    </p>
                    <h3>Where is it?</h3>
                    <p>
                        Crown College
                        8700 College View Drive
                        Saint Bonifacius, Minnesota 55375
                    </p>
                    <h3>What do I need to bring?</h3>
                    <p>
                        Pillows and blankets (the site will not have pillows and summer blankets available this year), toiletries, alarm clock, swimsuit, tennis shoes, sports equipment (e.g. basketball, volleyball, tennis racket, softball, rollerblades, etc.), flashlight, bug spray, sunscreen, Bible, pen, notebook.
                        ** Some rooms are not air-conditioned, so the committee will try to put families with young children and the elderly in rooms with A/C first. 
	                    Please bring your own portable fan if needed.
                    </p>

                    <h3>How do I register?</h3>
                    <p>
                        Fee Schedule
                        Link to Register..
                    </p>
                }

                @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                {
                    <h2>2013年 双城华人基督教会夏令会</h2>
                    <h3>关于会议</h3>
                    <p>
                        双城华人基督教会夏令会 .... 
                    </p>
                    <h3>Who will be there?</h3>
                    <p>
                        Everyone from all three congregations along with TCCC West are invited. The Speaker this year is 陳宏博博士.
                    </p>
                    <p>
                        Rev. Paul Lee Tan is a pastor, author, and Christian educator. For over 40 years, Dr. Tan has been recognized as an authority on Biblical prophecy, preaching to some 500,000 people in the United States and Canada, South America, Asia, and Europe on Bible prophecy.
                        Rev. Tan was Director of Asian Studies and Adjunct Professor at Dallas Theological Seminary, Texas, and has served long pastorates in the United States and the Philippines.
                    </p>
                    <h3>何时举行？</h3>
                    <p>
                        六月七日 (星期五)下午 7:30至六月九日 (星期日) 下午
                    </p>
                    <h3>在哪里？</h3>
                    <p>
                        皇冠大學
                        8700 College View Drive
                        Saint Bonifacius, Minnesota 55375
                    </p>
                    <h3>应该带什么？</h3>
                    <p>
                        枕頭﹑毯子﹑牙膏﹑牙刷﹑沐浴用品﹑閙鐘﹑游泳衣物﹑運動鞋,體育運動用品(例如籃球 、排球、網球拍、壘球)，魚具垂釣﹑手電筒、驅蟲劑、防曬霜﹑聖經﹑筆﹑記事簿等等。
                        **房間分為有空調﹑及沒有空調兩類﹐註冊委員會優先安排年長者及年幼者的家庭入住有空調房間。
                        如有需要請自備手提電風扇。

                    </p>

                    <h3>如何注册？</h3>
                    <p>
                        Fee Schedule
                        Link to Register..
                    </p>
                }


				</div>
            </div>
        </div>
    </div>
</div>
