@{
    ViewBag.Title = "About";
}

<div id="main-wrapper">
	<div class="divider1"></div>
	<div class="12u" id="main-content">
		<div class="5grid-layout">
			<div class="row">
				<div class="8u">
                @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                {
                    <h2>TCCCC 2013 Summer Conference</h2>
                    <h3>What is Summer Conference?</h3>
                    <p class="about">
                        Twins Cities Chinese Christian Church Summer Conference an annual event where the entire church body can come together for a time of fellowship and worship.
                        It is a great opportunity for the three interdependent congregations to come and meet, to share meals, and to learn and grow together as one church. 
                    </p>
                    <h3>Who will be there?</h3>
                    <p class="about">
                        Everyone from all three congregations along with TCCC West are invited. The Speaker this year is Rev. Stephen Tan.
                    </p>
                    <img class="about" src="/Content/images/STan_sm.jpeg" alt="Rev. Stephen Tan" />
                    <p class="about">
                    Rev. Stephen Tan is the Senior Pastor of Grace Christian Church of the Philippines. He graduated summa cum laude from Dallas Theological Seminary with a Master of Theology and given the J. Dwight Pentecost Award in Bible Exposition. He has spoken at conferences and churches throughout North America and Asia. Stephen previously worked as a management consultant for Deloitte and Touche USA. He is married to his beautiful wife Cindy and they have 3 children: Andrew, Nathan, and Janelle.
                    </p>
                    <h3>When is it?</h3>
                    <p class="about">
                        June 8 (Friday) 6:00 pm – June 10 (Sunday) 1:00 pm
                    </p>
                    <h3>Where is it?</h3>
                    <p class="about">
                        Crown College
                        8700 College View Drive
                        Saint Bonifacius, Minnesota 55375
                    </p>
                    <h3>How much does it cost?</h3>

                    <table class="admin1, about">
                        <tr>
                            <th>Age Group</th>
                            <th>Full Time</th>
                            <th>Part Time</th>
                        </tr>
                        <tr>
                            <td>0-1 year</td>
                            <td>$10</td>
                            <td>$10</td>
                        </tr>
                        <tr>
                            <td>2-5 year</td>
                            <td>$45</td>
                            <td>$25</td>
                        </tr>
                        <tr>
                            <td>6-12 year</td>
                            <td>$70</td>
                            <td>$40</td>
                        </tr>
                        <tr>
                            <td>12+ year</td>
                            <td>$95</td>
                            <td>$55</td>
                        </tr>

                    </table>

                    <p></p>
                    <h3>What do I need to bring?</h3>
                    <p class="about">
                        Pillows and blankets (the site will not have pillows and summer blankets available this year), toiletries, alarm clock, swimsuit, tennis shoes, sports equipment (e.g. basketball, volleyball, tennis racket, softball, rollerblades, etc.), flashlight, bug spray, sunscreen, Bible, pen, notebook.
                        ** Some rooms are not air-conditioned, so the committee will try to put families with young children and the elderly in rooms with A/C first. 
	                    Please bring your own portable fan if needed.
                    </p>

                    
                    <h3>How do I register?</h3>
                    <p class="about">
                        This year, you can register directly on this website, or at church after service. If you want to register, just click on Register on the menu. 
                    </p>
                }

                @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                {
                    <h2>2013年 双城华人基督教会夏令会</h2>
                    <h3>什麼是夏令會?</h3>
                    <p class="about">
                        雙城華人基督教會每年夏天舉辦一次大型聯合聚會, 聚集整個教會的弟兄姊妹在一起敬拜上帝, 彼此聯誼. 這是一次見証我們三個語言部的會眾作為一個身体,一起進餐, 一起學習, 一起成長的難得機會。
                    </p>
                    <h3>誰會在那里?</h3>
                    <p class="about">
                        包括西區分堂的每一位弟兄姊妹都是我們誠邀的對象。今年的講員是陳建平牧師。
                    </p>
                    <img class="about" src="/Content/images/STan_sm.jpeg" alt="Rev. Stephen Tan" />
                    <p class="about">
                        陳健平牧師目前在菲律賓馬尼拉的靈惠堂任職主任牧師。他以最優異的成績畢業於達拉斯神學院，取得神學碩士學位，並獲得J.Dwight Pentecost 釋經學獎狀。他曾經在北美和亞洲的許多教會及特會中擔任主要講員。在未作牧師前，他曾在美國四大財經公司之一的Deloitte and Touche USA擔任過財經顧問。陳牧師已結婚，有一位美麗的妻子辛迪和三個孩子：安德魯，內森，詹妮爾
                    </p>
                    <h3>何时举行？</h3>
                    <p class="about">
                        六月七日 (星期五)下午 7:30至六月九日 (星期日) 下午
                    </p>
                    <h3>在哪里？</h3>
                    <p class="about">
                        皇冠大學
                        8700 College View Drive
                        Saint Bonifacius, Minnesota 55375
                    </p>

                    <h3>費用是多少?</h3>

                        <table class="admin1, about">
                            <tr>
                                <th>年齡</th>
                                <th>全時間</th>
                                <th>部分時間</th>
                            </tr>
                            <tr>
                                <td>0-1 year</td>
                                <td>$10</td>
                                <td>$10</td>
                            </tr>
                            <tr>
                                <td>2-5 year</td>
                                <td>$45</td>
                                <td>$25</td>
                            </tr>
                            <tr>
                                <td>6-12 year</td>
                                <td>$70</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td>12+ year</td>
                                <td>$95</td>
                                <td>$55</td>
                            </tr>

                        </table>

                    <h3>应该带什么？</h3>
                    <p class="about">
                        枕頭﹑毯子﹑牙膏﹑牙刷﹑沐浴用品﹑閙鐘﹑游泳衣物﹑運動鞋,體育運動用品(例如籃球 、排球、網球拍、壘球)，魚具垂釣﹑手電筒、驅蟲劑、防曬霜﹑聖經﹑筆﹑記事簿等等。
                        **房間分為有空調﹑及沒有空調兩類﹐註冊委員會優先安排年長者及年幼者的家庭入住有空調房間。
                        如有需要請自備手提電風扇。
                    </p>
                    
                    <h3>如何註冊報名?</h3>
                    <p class="about">
                        今年您可以到這個網站直接報名或崇拜後到走廊裡的報名處報名。如果您想註冊, 只要敲擊菜單中＂註冊＂欄即可。
                    </p>
                }


				</div>
            </div>
        </div>
    </div>
</div>
