@{
    ViewBag.Title = "Copyright";
}

<div id="main-wrapper">
	<div class="5grid-layout">
		<div class="row">
			<div class="12u">
				<h2>Copyright and License</h2>
				<p>
                    This web registration application is written and copyrighted by <a href="http://www.gct826.com">GCT826 Design</a>. 
				</p>
                <p>
                    This application is freely available under the Simple Public License (SimPL) 2.0.
                </p>
                <p>
                    The SimPL applies to the software's source and object code and comes with any rights that I have in it (other than trademarks). You agree to the SimPL by copying, distributing, or making a derivative work of the software.
                </p>
                <p>
                    You get the royalty free right to:
                    <li>Use the software for any purpose;</li>
                    <li>Make derivative works of it (this is called a "Derived Work");</li>
                    <li>Copy and distribute it and any Derived Work.</li>
                </p>
                <p>
                    If you distribute the software or a Derived Work, you must give back to the community by:
                    <li>Prominently noting the date of any changes you make;</li>
                    <li>Leaving other people's copyright notices, warranty disclaimers, and license terms  in place;</li>
                    <li>Providing the source code, build scripts, installation scripts, and interface definitions in a form that is easy to get and best to modify;</li>
                    <li>Licensing it to everyone under SimPL, or substantially similar terms (such as GPL 2.0), without adding further restrictions to the rights provided;</li>
                    <li>Conspicuously announcing that it is available under that license.</li>
                </p>
                <p>   
                    There are some things that you must shoulder:    
                    <li>You get NO WARRANTIES. None of any kind;</li>
                    <li>If the software damages you in any way, you may only recover direct damages up to the amount you paid for it (that is zero if you did not pay anything). You may not recover any other damages, including those called "consequential damages." (The state or country where you live may not allow you to limit your liability in this way, so this may not apply to you);</li>
                </p>
                <p>
                    The SimPL continues perpetually, except that your license rights end automatically if:
                    <li>You do not abide by the "give back to the community" terms (your licensees get to keep their rights if they abide);</li>
                    <li>Anyone prevents you from distributing the software under the terms of the SimPL.</li>
                </p>
            </div>
        </div>
        <div class="divider1"></div>
        <div class="row">
            <div class="12u">
                <h2>CSS Template</h2>
                <p>
                    This web application utilize <strong>Iridium</strong>, a free responsive HTML5 website template designed by <a href="http://html5templates.com/">HTML5Templates.com</a> 
                    under the <a href="http://html5templates.com/license/">Creative Commons license</a>. 
                </p>
			</div>
        </div>
    </div>
</div>