@{
    ViewBag.Title = "Index";
}
<div id="banner-wrapper"> 
	<!-- Banner -->
	<div class="5grid-layout">
		<div class="row">
			<div class="12u">
				<div class="row">
					<div id="banner">
						<div class="imgwrap"> <a href="#"><img src="Content/images/banner.jpg" alt=""></a></div>
					</div>
					<div class="shadow"><a href="#"><img src="Content/images/banner-shadow-bg.png" height="25" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="main-wrapper">
	<div class="divider1"></div>
	<div class="12u" id="main-content">
		<div class="5grid-layout">
			<div class="row">
			    <div class="8u">
			        @if (ViewContext.RouteData.Values["language"].ToString() == "en")
			        {
    			        <h2>A Church After God's Own Heart</h2>
    			        <h2>Rev. Stephen Tan</h2>
			            <h2>Crown College</h2>
			            <h2>June 7-9, 2013</h2>
			        }
			        @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
			        {
    			        <h2>合神心意的教会</h2>
    			        <h2>陳建平牧師</h2>
			            <h2>皇冠大學</h2>
			            <h2>六月七日至六月九日</h2>
			        }
			    </div>
				<div class="4u">
					<h2>Upcoming Events</h2>
					<ul class="list-style2">
						<li class="first"><img src="Content/images/arrowright.png" width="59" height="59" alt="">
							<p class="text">Registration Opens 注册开放</p>
							<p class="posted">April 28 四月二十八日</p>
						</li>
						<li><img src="Content/images/arrowright.png" width="59" height="59" alt="">
							<p>Registration Closes 注册关闭</p>
							<p class="posted">May 19 五月十九日</p>
						</li>
						<li><img src="Content/images/arrowright.png" width="59" height="59" alt="">
							<p>Summer Conference 年夏令會</p>
							<p class="posted">June 7 六月七日</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

