@{
    ViewBag.Title = "Index";
}
<div id="banner-wrapper"> 
	<!-- Banner -->
	<div class="5grid-layout">
		<div class="row">
			<div class="12u">
				<div class="row">
					<div id="banner">
						<div class="imgwrap"> <a href="#"><img src="Content/images/pics01.jpg" alt=""></a></div>
					</div>
					<div class="shadow"><a href="#"><img src="Content/images/banner-shadow-bg.png" height="25" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="main-wrapper">
	<div class="divider1"></div>
	<div class="12u" id="main-content">
		<div class="5grid-layout">
			<div class="row">
				<div class="8u">
					<h2>TCCC 2013 Summer Conference</h2>
					<h3>A Church After God's Own Heart</h3>
                    <h3>Rev. Paul Lee Tan</h3>
                    <h3>Crown College</h3>
                    <h3>June 7-9, 2013</h3>
				</div>
				<div class="4u">
					<h2>Upcoming Events</h2>
					<ul class="list-style2">
						<li class="first"><img src="Content/images/pics02.png" width="59" height="59" alt="">
							<p class="text">Early Registration Open </p>
							<p class="posted">TBD</p>
						</li>
						<li><img src="Content/images/pics03.png" width="59" height="59" alt="">
							<p>Registration Dates</p>
							<p class="posted">TBD</p>
						</li>
						<li><img src="Content/images/pics04.png" width="59" height="59" alt="">
							<p>Registration Close</p>
							<p class="posted">TBD</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

