@{
    ViewBag.Title = "Index";
}
<div id="banner-wrapper"> 
	<!-- Banner -->
	<div class="5grid-layout">
		<div class="row">
			<div class="12u">
				<div class="row">
					<div id="banner">
						<div class="imgwrap"> <a href="#"><img src="Content/images/pics01.jpg" alt=""></a></div>
					</div>
					<div class="shadow"><a href="#"><img src="Content/images/banner-shadow-bg.png" height="25" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="main-wrapper">
	<div class="divider1"></div>
	<div class="12u" id="main-content">
		<div class="5grid-layout">
			<div class="row">
				<div class="8u">
					<h2>Welcome to Iridium!</h2>
					<p>Welcome to <strong>Iridium</strong>, a free responsive HTML5 website template designed by <a href="http://html5templates.com/">HTML5Templates.com</a>.   It features a pretty simple combination of color which gives the template an elegant look, making it a great design for a corporate/portfolio type of website.  And like all of our templates, it is built on HTML5 and CSS3, has full responsive support for desktops, tablets, and mobile devices, and is 100% free to use personally or commercially under the <a href="http://html5templates.com/license/">Creative Commons license</a>. Be sure to check out our <a href="http://html5templates.com/">website</a> for more awesome free HTML5 templates and follow us on <a href="http://twitter.com/HTML5T">Twitter</a> for updates and new releases! Enjoy!</p>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. </p>
				</div>
				<div class="4u">
					<h2>Pellentesque  ante ut risus</h2>
					<ul class="list-style2">
						<li class="first"><img src="Content/images/pics02.png" width="59" height="59" alt="">
							<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
							<p class="posted">August 11, 2002  |  (10 )  Comments</p>
						</li>
						<li><img src="Content/images/pics03.png" width="59" height="59" alt="">
							<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
							<p class="posted">August 11, 2002  |  (10 )  Comments</p>
						</li>
						<li><img src="Content/images/pics04.png" width="59" height="59" alt="">
							<p>Nullam non wisi a sem eleifend. Donec mattis libero eget urna. </p>
							<p class="posted">August 11, 2002  |  (10 )  Comments</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
