@{
    ViewBag.Title = "TableModification";
}

<div id="main-wrapper">
	<div class="12u" id="main-content">
		<div class="5grid-layout">

            <h2>TableModification</h2>

			<div class="row">
                <div class="divider1"></div>
                <h3>Fellowship Table</h3>
                @{Html.RenderAction("Index", "AdminFellowship");}
            </div>
            <div class="row">
                <div class="divider1"></div>

                <h3>Pricing Table</h3>
                @{Html.RenderAction("Index", "AdminPricing");}
            </div>
            <div class="row">
                <div class="divider1"></div>

                <h3>Room Type Table</h3>
                @{Html.RenderAction("Index", "AdminRoomType");}
            </div>
            <div class="row">
                <div class="divider1"></div>

                <h3>Age Range Table</h3>
                @{Html.RenderAction("Index", "AdminAgeRange");}
            </div>
            <div class="row">
                <div class="divider1"></div>

                <h3>Congregation Table</h3>
                @{Html.RenderAction("Index", "AdminService");}
            </div>
            <div class="row">
                <div class="divider1"></div>

                <h3>Status Table</h3>
                @{Html.RenderAction("Index", "AdminStatus");}

            </div>
        </div>
    </div>
</div>
