@{
    ViewBag.Title = "TableModification";
}

<h2>TableModification</h2>

<h4>Fellowship Table</h4>
@{Html.RenderAction("Index", "AdminFellowship");}

<h4>Pricing Table</h4>
@{Html.RenderAction("Index", "AdminPricing");}

<h4>Room Type Table</h4>
@{Html.RenderAction("Index", "AdminRoomType");}

<h4>Age Range Table</h4>
@{Html.RenderAction("Index", "AdminAgeRange");}

<h4>Congregation Table</h4>
@{Html.RenderAction("Index", "AdminService");}

<h4>Status Table</h4>
@{Html.RenderAction("Index", "AdminStatus");}